body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,dl,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea
	{
	font-family: inherit;
	font-size: 100%;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ol,ul,li {
	list-style: none outside none;
}

img {
	border: 0 none;
	margin: 0;
	padding: 0;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #666666;
	font: 12px tahoma, Arial, Verdana, sans-serif;
}

input {
	outline: medium none;
	vertical-align: middle;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.clear {
	clear: both;
	height: 1px;
	margin-top: -1px;
	width: 100%;
}

.dis {
	display: block;
}

.undis {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

.clearfloat {
	clear: both;
	font-size: 1px;
	height: 0 !important;
	line-height: 0;
}

.container {
	margin: auto;
	position: relative;
	width: 980px;
}

.container .left {
	float: left;
	width: 230px;
}

#noticeFloat {
	display: none;
	height: 498px;
	left: 50%;
	margin-left: -400px;
	margin-top: -249px;
	position: fixed;
	top: 50%;
	width: 800px;
	z-index: 999;
}

#returnTop {
	background: url("../images/returnTop.png") no-repeat scroll center
		center rgba(0, 0, 0, 0);
	bottom: 40px;
	display: none;
	height: 46px;
	position: fixed;
	right: 0;
	width: 46px;
	z-index: 10000;
}

#returnTop:hover {
	background: url("../images/returnTopBg.png") no-repeat scroll center
		center rgba(0, 0, 0, 0);
}

#mainContent {
	background-color: #FFFFFF;
	clear: both;
	margin: 0 auto;
	width: 1000px;
	min-height: 300px;
	padding-top: 10px;
	position: relative;
}

#desktop {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.desktop {
	float: left;
	margin-top: 10px;
	width: 100%;
}

.maindesktop {
	float: right;
	width: 740px;
	position:relative;
	_left:10px;
}

.mainmenu {
	float: left;
	width: 228px;
}

#header {
	background-color: #F8F8F8;
	height: 60px;
	min-width: 1000px;
	width: 100%;
}

#header .a {
	display: block;
	height: 60px;
	margin: 0 auto;
	width: 1000px;
}

#loginBar {
	background: none repeat scroll 0 0 #F7f7f7;
	border-bottom: 1px solid #e4e4e4;
	min-width: 1000px;
	width: 100%;
}

.loginBarContent {
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
	overflow: hidden;
	vertical-align: middle;
	width: 1000px;
}

.loginBarContentLeft {
	float: left;
	margin-left: 0;
}

.loginBarContentMid {
	float: left;
	margin-left: 20px;
}

.loginBarContentRight {
	float: right;
	margin-right: 0;
}

.loginBarContentRight li {
	display: inline;
	padding-left: 1px;
	padding-right: 1px;
}

.loginBarContentRight a {
	color: #606060;
	font-size: 12px;
	margin-left: 0;
	text-decoration: none;
}

#searchBg {
	height: 78px;
	width: 100%;
	overflow: visible;
	position: relative;
	z-index: 9999;
}

#search {
	height: 78px;
	margin-left: auto;
	margin-right: auto;
	min-width: 1000px;
	position: relative;
	width: 100%;
}

.free_srh_content {
	background-color: #FFFFFF;
	clear: both;
	height: 78px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 1000px;
	z-index: 450;
}

.srh_content {
	clear: both;
	height: 78px;
	margin: 0 auto;
	position: relative;
	width: 1000px;
	z-index: 450;
}

.srh_content .idea {
	bottom: 0;
	display: block;
	height: 65px;
	position: absolute;
	right: 0;
	width: 115px;
	z-index: 22;
}

#logo {
	display: block;
	float: left;
	height: 70px;
	margin-top: 4px;
	width: 240px;
}

.search {
	float: left;
	height: 78px;
	margin-left: 20px;
	text-align: center;
	width: 611px;
}

.srh_01 {
	/*background: url("../images/search.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
	background: url("../images/search.png") no-repeat;
	/*¼ÓÁËºóÃæµÄÄÇ¸ö£¬IEä¯ÀÀÆ÷¾Í¿´²»µ½ËÑË÷¿òÁË£¬Ò²²»ÖªµÀËûµ±Ê±¼ÓÄÇ¸öÊÇ¸ÉÂïÓÃµÄ£¨CSSÀïµÄÖÐÎÄ×¢ÊÍ£¬×îºóÃæÒª¼Ó¿Õ¸ñ£¬²»È»IE6»á³öÎÊÌâ£¬²»ÈÏÊ¶Õâ¸öCSS£© */
	float: left;
	display: inline-block;
	height: 34px;
	margin-top: 17px;
	padding: 2px;
	width: 506px;
	background: #c4251c;
	color: #fff;
	font-size: 20px;
	line-height: 33px;
	border-radius: 4px;
}

#srh_text {
	border: medium none;
	float: left;
	height: 29px;
	margin-top: 2px;
	width: 402px;
	background: #c4251c;
	display: block;
}

.inp_srh {
	border: medium none;
	display: block;
	float: left;
	font-size: 14px;
	height: 29px;
	line-height: 29px;
	margin-left: 2px;
	outline: medium none;
	vertical-align: middle;
	width: 380px;
	padding: 0 10px;
}

.btn_srh {
	border: medium none;
	cursor: pointer;
	display: block;
	float: left;
	height: 33px;
	width: 104px;
	color: #fff;
}

#hot_srh {
	display: inline-block;
	height: 18px;
	padding-top: 3px;
	float: left;
}

#hot_srh li {
	display: inline;
	padding-left: 2px;
}

#hot_srh li:first-child a {
	font-weight: bold;
}

#hot_srh li a {
	color: #6F6F6F;
}

#mainNav {
	background-color: #c4251c;
	clear: both;
	height: 40px;
	margin:-10px auto 0 auto;
	width: 100%;
}

.nav_bg {
	clear: both;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	z-index: 800;
	position: relative;
}

.nav_bg .w_cart{width:200px;height:40px;background:url(../images/w_cart.png) no-repeat;position:absolute;right:0;display:block;}
.nav_bg .w_cart span.w_cartin{color:#fff;line-height:40px;font-size:16px;width:119px;text-align:right;display:block;float:left;}
.nav_bg .w_cart span.w_cartin a{display:block;color:#fff;}
.nav_bg .w_cart span.w_cartr{width:73px;text-align:left;float:left;color:#c4251c;line-height:36px;height:50px;position:relative;display:block;}
.nav_bg .w_cart span.w_cartr .w_cartcount,.nav_bg .w_cart span.w_cartr .w_cartcount{left: 4px;position: absolute;width: 26px;text-align: center;line-height: 41px;}
.nav_bg .w_cart_pull{box-shadow:1px 1px 1px rgba(0,0,0,.1);position:absolute;right: -7px;top: 40px;background:#fff;border:1px solid #c4251c;color:#666;display:none;}
.nav_bg .w_cart_pull.w_block{display:block;}
.nav_bg .w_nav_pull{box-shadow:1px 1px 1px rgba(0,0,0,.1);display:none;width:228px;padding:0;position:absolute;left:0;top:40px;_top:35px;background:#fff;border:1px solid #e4e4e4;color:#666;border-top:0;-webkit-transition-duration:600ms;transition-duration:600ms;}
.nav_bg .w_nav_pull a{display:block;}
.cart_none{padding:50px 30px;text-align:center;width:300px;margin:0 auto;}
.nav_bg .w_nav_pull .w_navpulla{display:block;}
.nav_bg .w_nav_pull li{position:relative;color:#000;font-weight:bold;line-height:20px;padding:5px 10px;font-size:12px;text-align:left;text-indent:5px;border-bottom:1px dashed #ddd;background:url(../images/w_nav_tag.png) no-repeat 95% center;}
.nav_bg .w_nav_pull li.w_lihover{background:#c4251c;margin-right:-1px;color:#fff;border:0;}
.nav_bg .w_nav_pull li.w_lihover a{color:#fff;}
.nav_bg .w_nav_pull li a{color:#000;}
.nav_bg .w_nav_pull li span{position:absolute;top:3px;left:0px;}
.nav_bg .w_nav_pull li.w_none{display:none;}
.nav_bg .w_nav_pull li:last-child{display:block;border:0;background:#f7f7f7;color:#c4251c;font-weight:100;font-size:12px;padding:8px 0;text-align:center;height:20px;}
.nav_bg .w_nav_pull li.navmore a{display:block;}
.nav_bg .w_nav_pull li.navmore:hover{margin-right:0;}
.nav_bg .w_nav_pull li.navmore a:hover{color:#666;}
.nav_bg .w_nav_pull li.navblock{display:block;}
.nav_bg .w_nav_pull li .w_nav_pullbottom{padding:0;height:22px;position:relative;}
.nav_bg .w_nav_pull li .w_nav_pullbottom a:hover,.nav_bg .w_nav_pull li .w_nav_pullbottom a{font-weight:100;color:#f00;text-align:left;font-size:12px;display:block;float:left;line-height:20px;}
.nav_bg .w_nav_pull li .w_nav_pullbottom a:hover{color:#fff;}
.nav_bg .w_nav_pullr{width:208px;padding:0 10px;position:absolute;left:229px;top:40px;background:#fff;border:1px solid #c4251c;color:#666;display:none;}
.nav_bg .w_nav_pullr li{width:100%;font-weight:bold;line-height:20px;padding:5px 0;font-size:14px;text-align:left;text-indent:5px;border-bottom:1px dashed rgba(0,0,0,.3);background:url(../images/w_nav_tag.png) no-repeat 95% center;}
.nav_bg .w_nav_pullr li:last-child{border:0;}
.nav_bg .w_nav_pullr li .w_nav_pullbottom{padding:0;height:20px;}
.nav_bg .w_nav_pullr li .w_nav_pullbottom a{font-weight:100;color:#c4251c;text-align:left;font-size:12px;display:block;float:left;line-height:20px;}
.nav_bg .w_nav_pull li.w_lihover .w_nav_pullbottom a{color:#fff;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright{-moz-box-shadow:1px 1px 3px #B8B8B8;-webkit-box-shadow:1px 1px 3px #B8B8B8;box-shadow:1px 1px 3px #B8B8B8;background:rgba(255,255,255,1);border-radius:2px;border:2px solid #c4251c;position:absolute;left:219px;top:-64px;width:767px;min-height:200px;_height:200px;display:none;padding-top:5px;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew{padding:5px 0;clear:both;border-bottom:1px dashed #ddd;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew:last-child{border:0}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew:first-child{border-bottom:1px dashed #ddd;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew h1{position:relative;padding:0 0 0 10px;width:60px;float:left;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew h1 span{color:#c4251c;line-height: 10px;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew h1 a{color:#c4251c;padding:0;text-indent:0;padding-left:5px;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew a{padding:5px 10px;color:#666;display:block;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew .w_nav_three{width:690px;float:left;display:block;}
.nav_bg .w_nav_pull li .w_nav_pullbottom .w_nav_pullright .w_nav_tew .w_nav_three a{display:block;float: left}
.nav_bg .ul {
	float: left;
	margin-left: 230px;
	_margin-left: 120px;
	overflow: hidden;
}

.nav_bg .ul li {
	display: inline;
	float: left;
	height: 40px;
	text-align: center;
}

.nav_bg .ul li a {
	color: #FFFFFF;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	vertical-align: middle;
}

.nav_bg .ul li a:hover {
	background-color: rgba(255, 255, 255, .2);
}

.mainNav-ext {
	background-color: #DB3E00;
	border: 1px solid #C10000;
	float: right;
	height: 38px;
	margin-top: 0;
	text-align: center;
	vertical-align: middle;
	width: 197px;
}

.mainNav-ext a {
	color: #FFFFFF;
	font-family: "??????", "Microsoft YaHei";
	font-size: 16px;
	font-weight: bold;
	line-height: 38px;
}

#category {
	clear: both;
	float: left;
	left: 0;
	position: absolute;
	width: 230px;
	z-index: 900;
}

#category .dt {
	background: #d95142 url(../images/w_tag.png) no-repeat
		95% 17px;
	border-bottom: medium none;
	display: block;
	float: left;
	height: 40px;
	line-height: 38px;
	padding-left: 20px;
	text-align: center;
	vertical-align: middle;
	width: 210px;
}

#category .dt a {
	display: block;
	float: left;
	height: 40px;
	overflow: hidden;
	width: 185px;
}

#category .dt a #dtSpan {
	font-family: "????", "SimSun";
	font-weight: bold;
	margin-left: 40px;
}

.mainMenu {
	float: left;
	/*height: 630px;*/
	width: 230px;
}

#mainMenu {
	display: none;
	float: left;
	height: 630px;
	width: 230px;
}

#menuRight {
	background-color: #FDF6F0;
	border-bottom: 2px solid #78A30C;
	border-left: 2px solid #78A30C;
	border-right: 2px solid #78A30C;
	clear: both;
	display: block;
	float: left;
	height: 750px;
	position: relative;
	width: 226px;
}

.menu_header {
	border-bottom: 1px solid #E4E4E4;
	clear: both;
	float: left;
	height: 40px;
	line-height: 40px;
	margin: 0 auto;
	text-align: left;
	width: 200px;
}

.menu_header div {
	float: left;
	height: 40px;
	width: 40px;
}

.menu_header .div0 {
	background: url("../images/menu1.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div1 {
	background: url("../images/menu2.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div2 {
	background: url("../images/menu3.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

.menu_header .div3 {
	background: url("../images/menu4.jpg") no-repeat scroll 15px center
		rgba(0, 0, 0, 0);
}

#menuRight ul li {
	clear: both;
}

#menuRight ul li a {
	color: #474747;
}

#menuRight ul .item {
	border-bottom: 1px solid #E4E4E4;
	display: block;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	vertical-align: middle;
	width: 198px;
}

#menuRight ul .item span {
	color: #FF6600;
	float: right;
	font-family: "????", "SimSun";
	font-weight: bold;
	margin-right: 20px;
}

#menuRight ul .hover span,#menuRight ul .item:hover span {
	display: none;
}

#menuRight ul .hover,#menuRight ul .item:hover {
	background-color: #FDF6F0;
	border: 2px solid #FE7C00;
	display: block;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	width: 205px;
}

#menuRight ul .item .out,#menuRight ul .item b {
	display: none;
}

#menuRight ul .item h2,#menuRight ul .hover h2,#menuRight ul .item:hover h2
	{
	float: left;
	font-weight: normal;
	margin-left: 40px;
}

#menuRight ul .hover .out,#menuRight ul .item:hover .out {
	background-color: #FDF6F0;
	border: 2px solid #FE7C00;
	display: block;
	height: auto;
	min-height: 60px;
	min-width: 200px;
	position: absolute;
	z-index: 998;
}

#menuRight ul .hover h2 b,#menuRight ul .item:hover h2 b {
	background: none repeat scroll 0 0 #FDF6F0;
	display: block;
	height: 23px;
	overflow: hidden;
	position: absolute;
	width: 2px;
	z-index: 1001;
}

#menuRight .out ul {
	height: auto !important;
	width: auto !important;
}

#menuRight .out li {
	border-bottom: 1px solid #E4E4E4;
	float: left;
	height: 26px;
	line-height: 26px;
	margin: 0 auto;
	overflow: hidden;
	vertical-align: middle;
	width: 193px;
}

#menuRight .out li a {
	display: block;
	float: left;
	margin-left: 20px;
}

#mycart {
	background: none repeat scroll 0 0 #FF9400;
	border-radius: 2px;
	cursor: pointer;
	display: none;
	float: right;
	font-size: 12px;
	height: 37px;
	line-height: 39px;
	margin: 19px 5px 0;
	position: relative;
	width: 147px;
	z-index: 999;
}

#mycart p {
	color: #F66200;
	float: left;
	height: 37px;
}

#mycart .s-gwcp1 {
	background: url("../images/vigoo.jpg") no-repeat scroll 10px -279px
		rgba(0, 0, 0, 0);
	width: 45px;
}

#mycart .s-gwcp3 {
	background: url("../images/vigoo.jpg") no-repeat scroll -197px -282px
		rgba(0, 0, 0, 0);
	margin-left: 8px;
	width: 10px;
}

#mycart .s-gwcp2 a {
	color: #FFFFFF;
}

#mycart .cart_content {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 2px solid #EC7C48;
	float: left;
	left: -206px;
	padding: 0;
	position: absolute;
	top: 37px;
	width: 349px;
	z-index: 999;
}

#mycart .s-gwcs {
	background: url("../images/vigoo.jpg") no-repeat scroll -193px -108px
		rgba(0, 0, 0, 0);
	height: 29px;
	left: 27px;
	line-height: 34px;
	position: absolute;
	text-align: center;
	top: -18px;
	width: 27px;
}

#mainMenuCon {
	background-color: #FFFFFF;
	border-bottom: 2px solid #3fc700;
	border-left: 2px solid #3fc700;
	border-right: 2px solid #3fc700;
	clear: both;
	display: block;
	float: left;
	height: 448px;
	padding-top: 10px;
	position: relative;
	width: 226px;
}

#mainMenuCon .mainMenuConDt {
	background: url("../images/listBg.jpg") no-repeat scroll 10px center
		rgba(0, 0, 0, 0);
	color: #666666;
	font-family: "????", "SimSun";
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	letter-spacing: 1px;
	line-height: 30px;
	overflow: hidden;
	padding-left: 20px;
	vertical-align: middle;
}

#mainMenuCon .mainMenuConDt a {
	color: #666666;
}

#mainMenuCon .mainMenuConDd {
	color: #888888;
	font-family: "????", "SimSun";
	font-size: 12px;
	overflow: hidden;
	padding-left: 5px;
}

#mainMenuCon .mainMenuConDd span {
	line-height: 22px;
	overflow: hidden;
	padding: 0 2px;
	vertical-align: middle;
}

#mainMenuCon .mainMenuConDd span a {
	color: #888888;
}

#mainMenuCon .mainMenuConDd ul li {
	display: block;
	float: left;
	line-height: 25px;
	list-style: none outside none;
	padding: 0 2px;
	vertical-align: middle;
	white-space: nowrap;
}

#mainMenuCon .mainMenuConDd ul li a {
	color: #888888;
}

div.path {
	border: 1px solid #E4E4E4;
	border-radius: 0;
	clear: both;
	height: 30px;
	line-height: 30px;
	margin:0 0 10px 0;
}

div.path li a {
	padding: 3px;color:#333;
}

div.path li {
	background: url(../images/w_tag.jpg) no-repeat 0 8px;
	background-size: 10px 18px;
	border: 0;
	font-weight: 100;
	color: #c4251c;
	padding: 0 8px 0 18px;
	float: left;
}

div.path li.w_firstlist {
	text-align: center;
	padding: 0 5px 0 10px;
	font-weight: bold;
	float: left;
	color: #333;
	background: none;
}

div.condition {
	border: 1px solid #E4E4E4;
	border-radius: 0;
	clear: both;
	height: 40px;
	line-height: 40px;
	margin-bottom: 10px;
}

div.condition li {
	color: #c4251c;
	float: left;
	padding: 0 0 0 10px;
}

div.condition li.first {
	text-align: center;
	padding: 0 10px;
	background: #fafafa;
	font-weight: bold;
	border-right: 1px solid #e4e4e4;
	color: #333;
}
div.condition li.first a{color:#333;}

span.requiredField {
	color: #FF6D6D;
	font-size: 10px;
	padding-right: 3px;
}

label.fieldError {
	color: #FFB042;
	line-height: 23px;
	padding-left: 6px;
}

div.xxMessage {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	box-shadow: 1px 1px 6px #999999;
	display: none;
	left: 50%;
	overflow: hidden;
	padding: 10px 30px;
	position: fixed;
	top: 25%;
	z-index: 100;
}

div.xxMessage .messageContent {
	color: #666666;
	line-height: 24px;
	padding: 0 10px 0 30px;
}

div.xxMessage .messagewarnIcon {
	background: url("../images/common.gif") no-repeat scroll -60px -330px
		rgba(0, 0, 0, 0);
}

div.xxMessage .messagesuccessIcon {
	background: url("../images/common.gif") no-repeat scroll -30px -360px
		rgba(0, 0, 0, 0);
}

div.xxMessage .messageerrorIcon {
	background: url("../images/common.gif") no-repeat scroll 0 -390px
		rgba(0, 0, 0, 0);
}

div.xxMessage .messageIframe {
	height: 2000px;
	left: -100px;
	position: absolute;
	top: -100px;
	width: 2000px;
	z-index: -1;
}

span.loadingIcon {
	background: url("../images/loading_icon.gif") no-repeat scroll center
		center rgba(0, 0, 0, 0);
	display: -moz-inline-stack;
	height: 20px;
	line-height: 20px;
	width: 20px;
}

span.loadingBar {
	background: url("../images/loading_bar.gif") no-repeat scroll center
		center rgba(0, 0, 0, 0);
	display: -moz-inline-stack;
	height: 20px;
	line-height: 20px;
	width: 208px;
}

div.pagination {
	float: right;
	height: 20px;
	margin-bottom: 10px;
	z-index: -1;
}

div.pagination a,div.pagination span {
	display: inline;
	float: left;
	height: 18px;
	line-height: 18px;
	margin-left: 3px;
	outline: medium none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}

div.pagination a {
	border: 1px solid #CCCCCC;
	padding: 0 5px;color:#666;
}

div.pagination a:hover {
	border: 1px solid #FD6D01;
	text-decoration: none;
}

div.pagination a.previousPage {
	background: url("../images/common.gif") no-repeat scroll 0 -180px
		rgba(0, 0, 0, 0);
	padding: 0;
	width: 18px;
}

div.pagination span.previousPage {
	background: url("../images/common.gif") no-repeat scroll -30px -180px
		rgba(0, 0, 0, 0);
	border: 1px solid #CCCCCC;
	cursor: default;
	width: 18px;
}

div.pagination a.nextPage {
	background: url("../images/common.gif") no-repeat scroll 0 -210px;
	padding: 0;
	width: 18px;
}

div.pagination span.nextPage {
	background: url("../images/common.gif") no-repeat scroll -30px -210px;
	border: 1px solid #CCCCCC;
	cursor: default;
	width: 18px;
}

div.pagination a.firstPage {
	background: url("../images/common.gif") no-repeat scroll -60px -180px;
	padding: 0;
	width: 18px;
}

div.pagination span.firstPage {
	background: url("../images/common.gif") no-repeat scroll -90px -180px;
	border: 1px solid #CCCCCC;
	cursor: default;
	width: 18px;
}

div.pagination a.lastPage {
	background: url("../images/common.gif") no-repeat scroll -60px -210px;
	padding: 0;
	width: 18px;
}

div.pagination span.lastPage {
	background: url("../images/common.gif") no-repeat scroll -90px -210px;
	border: 1px solid #CCCCCC;
	cursor: default;
	width: 18px;
}

div.pagination .currentPage {
	background-color: #FFEDE1;
	border: 1px solid #FD6D01;
	color: #FD6D01 !important;
	cursor: default;
	font-weight: bold;
	padding: 0 5px;
}

div.pagination .pageBreak {
	color: #3366CC;
	cursor: default;
	padding: 0 5px;
}

.adv-panel {
	float: left;
	margin-top: 10px;
	position: relative;
	width: 100%;
}

.ui-adv {
	background: none repeat scroll 0 0 #C1C1C1;
	color: #999999;
	float: left;
	font: 12px tahoma, Arial, Verdana, sans-serif;
	height: 58px;
	margin-top: 10px;
	padding: 0 0 10px;
	position: relative;
	width: 100%;
}

.ui-adv .grid {
	margin: auto;
	position: relative;
	width: 1000px;
}

.griddown {
	position: absolute;
	bottom: 30px;
	right: 10px;
}

.griddown li {
	text-align: center;
	float: left;
	padding: 0 10px;
}

.ui-footer {
	color: #999999;
	float: left;
	font: 12px tahoma, Arial, Verdana, sans-serif;
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.ui-footer .grid {
	margin: auto;
	position: relative;
	width: 1000px;
}

.ui-footer a {
	color: #999999;
}

.ui-footer-about {
	border: 1px solid #dbdbdb;
	height: 130px;
	padding: 20px 35px 10px 35px;
}

.ui-footer-about dl {
	float: left;
	margin: 0;
	width: 131px;
	padding: 0 0 0 30px;
}

.ui-footer-about dl.item-weixin {
	width: 88px;
}

.ui-footer-about dt {
	color: #c3261c;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
}

.ui-footer-about dd {
	line-height: 25px;
	margin-left: 0;
}

.ui-footer-about .item-weibo {
	width: 140px;
}

.ui-footer-about .item-weibo .ui-ico {
	margin-right: 8px;
}

.ui-footer-about .item-app {
	width: 190px;
}

.ui-footer-about .item-app a {
	border-radius: 2px;
	color: #999;
	font-size: 12px;
	padding: 5px 6px 5px 0;
}

.ui-footer-about .item-app a .ui-ico-mobile {
	margin-right: 5px;
	vertical-align: middle;
}

.ui-footer-exlink,.ui-footer-sitelink {
	line-height: 35px;
}

.ui-footer-exlink {
	border-bottom: 1px solid #dbdbdb;
	position: relative;
	text-align: center;
}

.ui-footer-exlink a {
	margin-right: 5px;
}

.ui-footer-exlink .item-more {
	font-family: simsun;
	position: absolute;
	right: 0;
	top: 0;
	*top: -10px;
}

.ui-footer-sitelink {
	padding: 5px 0;
	text-align: center;
}

.ui-footer-copyright p {
	width: 100%;
	text-align: center
}

.ui-footer-gov {
	bottom: 0;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	margin-top: 15px;
}

.ui-footer-gov a {
	display: inline-block;
	margin-left: 20px;
}

.ui-footer-gov a .item-txt {
	display: none;
}

select {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url("../images/common.gif") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	border-color: #B8B8B8 #DCDCDC #DCDCDC #B8B8B8;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	height: 26px;
	line-height: 26px;
	outline: medium none;
	padding: 0;
	vertical-align: middle;
}

select:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #74B9EF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	transition: box-shadow 0.2s linear 0s;
}

input.text {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: url("../images/common.gif") no-repeat scroll 0 0
		rgba(0, 0, 0, 0);
	border-color: #B8B8B8 #DCDCDC #DCDCDC #B8B8B8;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	color: #666666;
	height: 26px;
	line-height: 26px;
	padding: 0 4px;
	width: 220px;
}

input.text[type="file"] {
	box-shadow: none;
}

input.text:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: 1px solid #74B9EF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	transition: box-shadow 0.2s linear 0s;
}

input.text:disabled {
	background-color: #F6F6F6;
}

input.text:disabled:hover {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #F6F6F6;
	border-color: #B8B8B8 #DCDCDC #DCDCDC #B8B8B8;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
	transition: none 0s ease 0s;
}

textarea.text {
	border: 1px solid #C1C1C1;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	color: #666666;
	font-size: 12px;
	height: 160px;
	padding: 4px;
	width: 440px;
}

textarea.text:hover {
	border: 1px solid #74B9EF;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset, 0 0 8px
		rgba(82, 168, 236, 0.6);
	transition: box-shadow 0.2s linear 0s;
}

textarea.text:disabled {
	background-color: #F6F6F6;
	box-shadow: none;
}

textarea.text:disabled:hover {
	background-color: #F6F6F6;
	border: 1px solid #C1C1C1;
	box-shadow: none;
	transition: none 0s ease 0s;
}

.city-info,.city-info {
	float: left;
	width: 90px;
	text-align: center;
	background: #FFF;
	padding-bottom: 5px;
}

.city-info__name {
	color: #545353;
	font-size: 18px;
	font-weight: bold;
}

.city-info__toggle {
	color: #00BBBB;
	font-size: 12px;
	cursor: pointer;
}

.city-list {
	float: left;
	margin: 25px 0 0 22px;
	width: 90px;
	text-align: center;
	background: #FFF;
}

.blank {
	position: absolute;
	top: -7px;
	width: 90px;
	height: 7px;
	background: #fff;
}
.choose_city {
	position: absolute;
	top: 53px;
	display:none;
	width: 300px;
	height: auto;
	border: 1px solid #c4251c;
	background: #fff;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.12);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.12);
	box-shadow: 0 0 10px rgba(0,0,0,.12);
}

.choose_city ul {
	width: 100%;
	height: auto;
	float: left;
	padding-top: 5px;
}

.choose_city ul li {
	float: left;
	width: auto;
	height: 20px;
	margin: 5px 10px;
	text-align: center;
	cursor: pointer;
}

.close_city_list {
	position: absolute;
	margin-left: 290px;
	top: -10px;
	width: 18px;
	height: 17px;
	background: url("../images/17.png") no-repeat;
	cursor: pointer;
}

.province {
	width: 280px;
	height: 30px;
	margin: 5px auto 0 auto;
	text-align: left;
	line-height: 30px;
	color: #000;
	font-weight: bold;
	border-bottom: 2px solid #C4251C;
}

.current_province {
	float: left;
	width: 50%;
	height: 30px;
	text-align: left;
	line-height: 30px;
	color: #000;
	font-weight: bold;
}

.back_to_province {
	float: left;
	width: 50%;
	height: 30px;
	text-align: right;
	color: #C4251C;
	cursor: pointer;
	line-height: 30px;
}

}
/*话费充值*/
.app_mobile_money {
	margin-left: 5px;
	margin-top: 5px;
	width: 190px;
}

.app_mobile_money .post_info {
	background: url(../images/sprite.png) 0 -38px no-repeat;
	text-indent: 23px;
	color: #666;
	height: 20px;
}

.app_mobile_money .mb_txt {
	position: relative;
	z-index: 1;
}

.app_mobile_money .mb_txt input {
	width: 109px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #CCC;
	color: #CCC;
	padding: 0 5px;
}

.app_mobile_money .big_num {
	display: none;
	position: absolute;
	left: 66px;
	top: 18px;
	z-index: 1;
	border-bottom: 2px solid #eaeaea;
}

.app_mobile_money .big_num p {
	background: #f7f7f7;
	border: 1px solid #CCC;
	width: 118px;
	height: 30px;
	line-height: 30px;
	text-indent: 5px;
	font-size: 12px;
	font-weight: bold;
	color: #e60012;
}

.app_mobile_money .check_value {
	position: relative;
	margin-top: 10px;
}

.app_mobile_money .check_value label {
	display: block;
	zoom: 1;
}

.app_mobile_money .check_value label:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}

.app_mobile_money .check_value label span {
	float: left;
	line-height: 23px;
	text-indent: 2em;
}

.app_mobile_money .check_value label strong {
	display: block;
	float: left;
	font-weight: normal;
	text-indent: 0;
	width: 109px;
	height: 23px;
	line-height: 23px;
	border: 1px solid #CCC;
	color: #CCC;
	padding: 0 5px;
}

.app_mobile_money .check_value .more_value {
	
}

.app_mobile_money .check_value .more_value h4 {
	position: absolute;
	left: 165px;
	cursor: pointer;
	top: 5px;
	text-indent: -9999px;
	display: block;
	overflow: hidden;
	width: 14px;
	height: 14px;
	background: url(../images/sprite.png) 0 -66px no-repeat;
}

.app_mobile_money .check_value .more_value p {
	float: left;
	background: #FFF;
	overflow: hidden;
	border-left: 1px solid #CCC;
	display: none;
	width: 136px;
	zoom: 1;
	position: absolute;
	left: 66px;
	top: 25px;
	z-index: 1;
	zoom: 1;
}

.app_mobile_money .check_value .more_value p:after {
	display: block;
	clear: both;
	content: '';
	height: 0;
	visibility: hidden;
}

.app_mobile_money .check_value .more_value p a {
	float: left;
	height: 24px;
	color: #333;
	overflow: hidden;
	margin-left: -1px;
	margin-top: -1px;
	font-weight: bold;
	text-indent: 13px;
	line-height: 24px;
	width: 59px;
	border: 1px solid #CCC;
}

.app_mobile_money .check_value .more_value p .cur,.app_mobile_money .check_value .more_value p a:hover
	{
	background: #f7f7f7;
	color: #333;
}

.app_mobile_money .check_value .more_value p a img {
	vertical-align: middle;
	margin-top: -2px;
	_margin-top: 0;
	margin-left: 3px;
}

.app_mobile_money .price {
	text-indent: 1em;
	margin-top: 5px;
}

.app_mobile_money .price strong {
	color: #e60012;
}

.app_mobile_money .tips {
	color: #e60012;
	height: 14px;
	text-align: left;
	padding: 0 0 5px 0;
}

.app_mobile_money .btn_box .btn_submit {
	width: 188px;
	height: 28px;
	border: 0px;
	background: #c4251c;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, .1);
	color: white;
	cursor: pointer;
	display: inline;
}

.app_mobile_money .btn_box a {
	color: #06C;
}

.app_mobile_money .btn_box.btn_box_center {
	text-align: center;
	padding: 3px 0 0 0;
}

.app_mobile_money .check_value .more_value p a b {
	float: left;
	font-weight: bold;
}

.app_mobile_money .more_value .icon_tuan {
	display: inline-block;
	width: 14px;
	height: 15px;
	float: left;
	margin: 4px 0 0 3px;
	background: url(../images/sprite.png) 0 -80px no-repeat;
}

/*游戏充值*/
.height10 {
	height: 10px;
	width: 100%;
}

.if_wrap {
	width: 193px;
	padding: 5px 0;
	margin: 0px auto;
}

.if_line {
	width: 100%;
	height: auto;
	float: left;
	padding: 8px 0px;
}

.if_line .if_title {
	width: 65px;
	float: left;
	text-align: right;
	line-height: 24px;
}

.if_line .if_text {
	width: 108px;
	height: 22px;
	line-height: 22px;
	float: left;
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

.if_line.btn_box_center {
	padding: 0 3px;
}

.if_line .if_txt {
	width: 93px;
	height: 22px;
	line-height: 22px;
	float: left;
	padding: 0px 5px;
	border: 1px solid #cccccc;
	border-right: 0px;
	cursor: pointer;
}

.if_line .if_jt {
	width: 18px;
	height: 24px;
	float: left;
	font-size: 8px;
	cursor: pointer;
	background: url('../images/jt.gif') no-repeat; *
	background: url('../images/jt7.gif') no-repeat;
}

.if_line .if_jt:hover {
	background: url('../images/jt_hover.gif') no-repeat; *
	background: url('../images/jt7.gif') no-repeat;
}

.if_line .if_game {
	width: 112px;
	height: 90px;
	line-height: 20px;
	margin-top: 23px;
	margin-left: -122px;
	display: inline;
	padding: 2px 4px;
	border: 1px solid #cccccc;
	background: white;
	z-index: 90;
	position: absolute;
	overflow-y: scroll;
}

.if_line .if_game .ListValue {
	width: 100%;
	float: left;
}

.if_line .if_game ul {
	width: 80%;
	float: left;
	margin: 0px;
	padding: 0px;
}

.if_line .if_game ul li {
	width: 100%;
	height: 22px;
	float: left;
	overflow: hidden;
	cursor: pointer;
}

.if_line .if_game ul li:hover {
	cursor: pointer;
	background: #fff7d1;
}

.if_line .if_sel {
	width: 108px;
	height: 22px;
	line-height: 22px;
	float: left;
	padding: 0px 5px;
	border: 1px solid #cccccc;
}

.if_line .select_k {
	width: 122px;
	height: 24px;
	float: left;
	border: 1px solid #cccccc;
	cursor: pointer;
}

.if_line .select_k,.if_line .select_k option {
	line-height: 24px;
}

.if_line .if_radio {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	display: inline;
}

.if_line .radio_txt {
	float: left;
	padding-right: 15px;
}

.if_line .if_price {
	float: left;
	font-weight: bold;
	color: #ff3c41;
	font-family: Tahoma;
}

.if_line .no_price {
	width: 96%;
	float: left;
	margin-left: 2%;
	background: #fff7d1;
	border: 1px solid #cccccc;
	text-align: center;
	color: #ff3c41;
}

.if_buty {
	width: 188px;
	height: 28px;
	margin-top: 6px;
	border: 0px;
	background: #c4251c;
	border-radius: 4px;
	border: 2px solid rgba(0, 0, 0, .1);
	color: white;
	cursor: pointer;
	display: inline;
}

.if_butn {
	width: 95px;
	height: 28px;
	float: left;
	margin-left: 8px;
	border: 0px;
	background: url('../images/if_white.png') no-repeat;
	cursor: pointer;
	display: inline;
}

.if_mz {
	width: 119px;
	height: auto;
	margin-top: 71px;
	margin-left: 65px;
	border: 1px solid #cccccc;
	border-left: 0px;
	background: white;
	z-index: 100;
	position: absolute;
}

.if_mz .if_mzmx {
	width: 58px;
	height: 24px;
	float: left;
	border-left: 1px solid #cccccc;
	text-align: center;
}

.if_mz .b_line {
	border-bottom: 1px solid #cccccc;
}

.add_button{padding: 5px 45px;border-radius: 4px;background: #0096e0;color: #fff;line-height: 25px;text-align: center;margin: 0;}
.add_table{width:100%;border:1px solid #f1f1f1;}
.add_padding td{padding:5px 0;}

/*我的网店-上门提货*/
.w_modth{width:798px;padding:10px;height:38px;position:relative;background:#f9f9f9;border-bottom:2px solid #ccc;}
.w_modthinput{width:300px;height:20px;padding: 8px 5px;border: 1px solid;border-color: #bfbfbf #d7d7d7 #d7d7d7 #bfbfbf;position:absolute;left:10px;top:10px;background:#fff}
.w_modthinput input{border:0;background:0;width:100%;line-height:20px;}
.w_modth button{padding:2px 22px;height:40px;background:#f00;border:1px solid #f7f7f7;color:#fff;margin:-1px;position:absolute;left:320px;top:10px;width:82px;}
.w_modth label.fieldError{position: absolute;left: 390px;width: 100px;}
.w_noorder{padding:10px;}
div.member .order .top.w_bordertf,div.member .order .orderItem.w_bordertf,div.member .order .info.w_bordertf{border-right:0;border-left:0;}
.w_modththsm{padding:10px;background:url(../images/w_thq.jpg) no-repeat;padding-top:161px;}
.w_modththsm h1{width:100%;font-weight:bold;color:#333;font-size:14px;line-height:30px;}
.w_modththsm p{width:100%;font-weight:100;color:#666;font-size:12px;line-height:20px;}